{% set items = items | split(pat=",") %}

<div class="carousel" tabindex="0" id="carousel-{{nth}}">
  <ul class="list">
    {% for item in items %}
    {% set item = item | split(pat="|") %}
    {% set path = item[0] %}
    {% set alt = item[1] %}
    {% set target_width = 960 %}
    {% if width %}
      {% set target_width = width %}
    {% endif %}
    <li class="item">
      <div class="content">
        <figure>
          <a href="{{path}}">
            <img width="{{target_width}}px" src="{{path}}" alt="{{alt}}" />
          </a>
          <figcaption>{{alt}}</figcaption>
        </figure>
      </div>
    </li>
    {% endfor %}
  </ul>
  <button onclick="handleClick('carousel-{{nth}}', 'previous')" class="button--previous" type="button">➜</button>
  <button onclick="handleClick('carousel-{{nth}}', 'next')" class="button--next" type="button">➜</button>
</div>