figcaption {
  color: #292929;
  /* Change text color */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  figcaption {
    color: #d1d1d1;
    /* Change text color */
  }
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.image-row img {
  width: auto;   /* Keeps aspect ratio */
  flex-shrink: 0;
}

.post-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.post-list article {
  display: block;
  position: relative;
  background: var(--accent-bg);
  border: 0px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
}

.post-list header {
  font-size: 1.6em;
  color: var(--accent);
}

.post-list .article-description {
  font-style: italic;
  padding-top: 0.5rem;
}

.post-list a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: -99999px;
}

.post-list .date {
  display: block;
  font-size: 0.9em;
}