<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>thurley.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/simple.css">
  <link rel="stylesheet" href="/styles.css">
  {% block extra_head %}{% endblock extra_head %}
  <script defer src="https://cloud.umami.is/script.js" data-website-id="06cf5b64-fc8b-488b-b9db-9f54b74e3753"></script>
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="thurley.com" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
</head>

<body>
  <header>
    <a href="/"><h1>thurley<span class="accent">.</span>com</h1></a>
    <nav>
      <a href="/">Home</a>
      <a href="/offthewall">Off The Wall</a>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <a href="/">Home</a>
    <a href="https://github.com/jamesthurley">GitHub</a>
    <a href="/atom.xml">RSS Feed</a>
  </footer>
</body>

</html>
